<html> 
    <head>
        <title>Env Monitor</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    </head>

    <body>    
        <h1>Graphs</h1>
        <p>Generate Charts using the dropdown menus</p>
 
        <form action = "http://localhost:5500/graphPage" method = "post">

            <!-- Sensor type dropdown menu selection -->
            <label for="dropdown_sensorTypeList"> Sensor: </label>
            <select name="dropdown_sensorTypeList" id="dropdown_sensorTypeList">
                {% for sensorType in sensorTypeList %}
                    <option value="{{sensorType}}">{{sensorType}}</option>
                {% endfor %}
            </select>

            <!-- Data span Interval dropdown menu selection -->
            <label for="dropdown_dataInterval"> || Interval: </label>
            <select name="dropdown_dataInterval" id="dropdown_dataInterval">
                <option value='{"value":15, "unit":"minutes"}'>15min</option>
                <option value='{"value":1, "unit":"hours"}'>1hour</option>
                <option value='{"value":2, "unit":"hours"}'>2hour</option>
                <option value='{"value":3, "unit":"hours"}'>3hour</option>
                <option value='{"value":6, "unit":"hours"}'>6hour</option>
                <option value='{"value":12, "unit":"hours"}'>12hour</option>
                <option value='{"value":18, "unit":"hours"}'>18hour</option>
                <option value='{"value":1, "unit":"days"}'>1day</option>
                <option value='{"value":2, "unit":"days"}'>2day</option>
                <option value='{"value":3, "unit":"days"}'>3day</option>
                <option value='{"value":4, "unit":"days"}'>4day</option>
                <option value='{"value":5, "unit":"days"}'>5day</option>
                <option value='{"value":6, "unit":"days"}'>6day</option>
                <option value='{"value":1, "unit":"weeks"}'>1week</option>
                <option value='{"value":2, "unit":"weeks"}'>2week</option>
                <option value='{"value":3, "unit":"weeks"}'>3week</option>
            </select>

            <!-- Add/remove data line-->
            <label for="dropdown_dataInterval"> || Add: </label>
            <input type="checkbox" id="add_Remove_dataline" name="add_Remove_dataline">
            <br><br>

            <!--Canvas the contain the chart-->
            <canvas id="chart"  style="width:100%;max-width:1200px; height:100%; max-height:500px;border:1px solid #000000;" ></canvas>
            <br>
            
        </form>

        <!--Generate Chart Button-->
        <button type="submit" name="generateChart_btn" onclick="generateChart_btn_pressed()" >Gernerate Chart</button>

        <button onclick="document.location='/homePage'">Goto homePage</button>
        

        <!-- Scripts -->
        <script type="text/javascript" charset="utf-8">

            // SocketIO
            const socket = io();
            socket.on("updateChart", function(data){
                console.log(data);
                var e = document.getElementById("dropdown_sensorTypeList");
                var sensorType = e.options[e.selectedIndex].text;
                updateGraph("chart", data['labels'], data['values'], sensorType);
            })

            
            // Functions
            function generateChart_btn_pressed(){
                var e = document.getElementById("dropdown_sensorTypeList");
                var sensorType = e.options[e.selectedIndex].text;
                console.log(sensorType);

                var d = document.getElementById("dropdown_dataInterval");
                var interval = d.options[d.selectedIndex].value;
                console.log(interval);

                socket.emit('getChartData', {'sensorType': sensorType, 'interval':interval});
            }

            function updateGraph(chartID, xValues, yValues, chartLabel){
                const myChart = new Chart(chartID, 
                {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            label: chartLabel,
                            borderColor: "rgba(0,0,255,0.1)",
                            data: yValues,
                            lineTension: 0.2
                        }]
                    },
                    options: {
                        legend: {display: true},
                    }
                });
            }

        </script>

    </body>
</html>  